!/.gitignore
!/README.md
!/init.el
!/my-emacs/*.el
!/backup
!/site-lisp/*.el

*.elc
.history
.ido.last
ac-comphist.dat
bookmarks
ede-projects.el
ido.last
smex-items
/auto-save-list
/elpa
/eshell
/semanticdb
/site-lisp/*/*
/.idea