!/.gitignore
!/README.md
!/init.el
!/my-emacs/*.el
!/backup
!/site-lisp/*.el

.*
/.*

*.elc
*.eld
*projectile*
*recentf*
*ido.last*

ac-comphist.dat
bookmarks
ede-projects.el
smex-items
srecode-map.el

TAGS
GTAGS
GRTAGS
GPATH

/elpa
/eshell
/site-lisp
/bm-repository
/venv
