!/.gitignore
!/README.md
!/init.el
!/my-emacs/*.el
!/backup
!/site-lisp/*.el

*.elc
*.eld
*projectile*
*recentf*
.history
*ido.last*
ac-comphist.dat
bookmarks
ede-projects.el
smex-items
srecode-map.el
/auto-save-list
/elpa
/eshell
/semanticdb
/site-lisp
/bm-repository
/.idea
/.private
/.python-environments
/.virtualenvs
/.venv
/venv
